@font-face{
        src: url(../fonts/Lato-Regular.ttf);
        font-family: "lato";
}

@font-face{
        src: url(../fonts/Lato-Black.ttf);
        font-family: "lato-black";
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "lato";
}

body{
        background-color: #edeff5;
}

input[type="text"], input[type="password"]{
        display: block;
        height: 35px;
        padding: 5px 2%;
        margin-top: 5px;    
}


label{
        display: block;
}

.context{
        width: 90%;
        margin:0 auto;
}

.logo-e-acesso-container{
        background-color: #3b5998;
        color: #fff;
        padding: 1% 2%;
        width: 100%;
}

.logo-e-acesso-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
}


.logo-e-acesso-container h1{
        font-family: "lato-black";
        font-size: 45px;
}

.logo-e-acesso-container form {
        display: flex;       
}

.logo-e-acesso-container form > div {
        margin: 0 20px;
}

.logo-e-acesso-container form > div:last-of-type {
        margin-left: 0;
}

.logo-e-acesso-container span >  a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
}

.botao-entrar{
        display: block;
        border: 1px solid #2b4a80;
        background-color: #4267b2;
        color: #fff;
        width: 100px;
        height: 35px;
        padding: 3px 0;
        margin-top: 25px;
        font-size: 20px;
        cursor: pointer;
}

main{
        padding: 40px 0;
}

.main-flex{
        display: flex;
}

.main-col{
        width: 50%;
        display: flex;
        flex-direction: column;
}

.main-col p{
        color: #0e385f;
        font-weight: 800;
        font-size: 20px;
        width: 65%;
        line-height: 25px;
}

.main-col img{
        width: 90%;
        max-width: 900px;
        margin-top: 15px;
}

.form-cadastro input[type="text"], .form-cadastro input[type="password"]{
        width: 100%;
        border-radius: 4px;
}

.form-cadastro label{
        margin-bottom: 5px;
}

.form-cadastro select{
        display: inline-block;
        width: fit-content;
        height: 30px;
}

.form-cadastro input[type="radio"]{
        margin-right: 5px;
}

.form-cadastro div {
        margin-bottom: 10px;
}

.form-cadastro p{
        color: #000;
        font-size: 20px;
        margin: 20px 0;
}

.col-2 > input:first-of-type{
        margin-right: 15px;
}

.col-2{
        display: flex;
}

.main-col .termo-cadastro{
        font-size: 15px;
        font-weight: normal;
        margin: 20px 0;
}

.main-col .termo-cadastro a {
        color: #385898;
}

.botao-cadastrar{
        background-image: linear-gradient(#76b45d, #588944);
        color: #fff;
        font-size: 24px;
        width: fit-content;
        height: 40px;
        padding: 2px 5%;
        border-radius: 4px;
        cursor: pointer;
}

footer{
        background-color: #3b5998;
        padding: 1%;
        width: 100%;
        text-align: center;
}

footer a {
        color: #fff;
        text-decoration: none;
        margin-right: 2%;
}

.selected{
        color: #6793f1;
}


@media screen and (max-width: 1200px){

        .logo-e-acesso-container h1{
                margin-bottom: 15px;
        }

        .logo-e-acesso-container{
                padding: 5%;
        }

        .logo-e-acesso-flex{
                flex-direction: column;
                align-items: center;
        }

        .logo-e-acesso-container form {
                display: flex;
                flex-direction: column;
                align-items: center;       
        }

        .logo-e-acesso-container form  input{
                width: 80vw;
        }

        .logo-e-acesso-container form > div {
                margin: 5px 0;
        }

        .botao-entrar{
                width: 150px;
        }

        .main-flex{
                flex-direction: column;
                align-items: center;
        }

        .main-col{
                width: 90%;
                margin-bottom: 50px;
        }
        
        .main-col p{
                width: 90%;
                text-align: center;
        }

        .main-col img{
               display: none;
        }

        .form-cadastro{
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        .form-cadastro h1{
                text-align: center;
        }

        .form-cadastro input[type="text"],  .form-cadastro input[type="password"]{
                width: 80vw;
        }

        .col-2{
                display: flex;
                flex-direction: column;
        }

        .col-2 > input:first-of-type{
                margin: 5px 0;
        }

        .form-cadastro label{
                margin-top: 10px;
                text-align: center;
        }

}







